In [1]:
row = [0] * 3
table = [row] * 3
table[0][1] = 5
print(table)

# What will be printed here?
# [[0, 5, 0], [0, 0, 0], [0, 0, 0]]
# [[0, 5, 0], [0, 5, 0], [0, 5, 0]]*
# [[5, 5, 5], [5, 5, 5], [5, 5, 5]]
# There is an error here.

[[0, 5, 0], [0, 5, 0], [0, 5, 0]]

In [6]:
row = [0] * 3
table = [row] * 3
table[0][1] = 5
print(table)

# What needs to be changed to make the result [[0, 5, 0], [0, 0, 0], [0, 0, 0]]?
# Replace line 1 with row = [0, 0, 0]
# Replace line 2 with table = [row, row, row]
# Replace line 2 with table = [row[:], row[:], row[:]]*
# Add an extra operation table = table.copy() after line 2

[[0, 5, 0], [0, 0, 0], [0, 0, 0]]

In [7]:
matrix = [[1, 2], [3, 4]]
for row in matrix:
    for elem in row:
        print(elem, end = " ")

# What will be printed?
# 1 2 3 4*
# [1, 2] [3, 4]
# 1 2\n3 4
# 1234

1 2 3 4

In [9]:
# Assuming the data.txt file contains the following text
"""
apple
banana
cherry
"""
# We plan to run this code
with open("data.txt", "r") as file:
    for line in file:
        print(line.strip())

# What will be printed?
# 'apple' 'banana' 'cherry' (all three words on a single line, with quotes)
# apple banana cherry (all three words on a single line)
# It will print apple, banana and cherry on three different lines*
# 'apple\n' 'banana\n' 'cherry\n' (all three words on the same line, with end-of-line characters)

apple
banana
cherry

In [10]:
with open("output.txt", "w") as file:
    file.write("Hello CTD class!")
    file.write("This is Matt!")

# What will appear in the output.txt file?
# Two lines, one reading Hello CTD class!, the other one reading as This is Matt!.
# A single line that reads as Hello CTD class!This is Matt!*
# A single line that reads This is Matt!
# An error message will trigger as you can only write to a file once.