# A notebook about variables

### Variables names

Choose variable names that help the reader (or even you, when you come back months later) to understand what is going on.

In [1]:
# A variable name that is not explicit (what does x stand for?)
x = 10

# A variable name that is more explicit
radius = 10

# A variable name that is, maybe, a bit too explicit?
the_wonderful_birth_year_of_your_lovely_instructor = 1989

Variables names consist of any combination of letters, digits and underscore (_) symbol, but they cannot start with a digit

In [2]:
# This is okay as a variable name
a_1st_VaRiAbLe = 1

In [3]:
# Variables cannot start with a digit
2nd_variable = 2

SyntaxError: invalid syntax (<ipython-input-3-f01f45c0ae38>, line 2)

In [9]:
# But they can start with an underscore (_)
_third_variable = 3

In [10]:
# In fact, a single underscore is also a valid name!
_ = 4
print(_)

4

In [11]:
# Variables cannot use special symbols, other than the underscore symbol (_)
v@r!aBl€ = 5

SyntaxError: invalid syntax (<ipython-input-11-fbc30d68dfc0>, line 3)

In [12]:
# Cannot use keywords as variable names
import = 6

SyntaxError: invalid syntax (<ipython-input-12-4526a1d99ee1>, line 2)

### Multiple assignments

In [13]:
# A multiple assignment
var1 = var2 = var3 = 10
print(var1)
print(var2)
print(var3)

10
10
10

In [14]:
# Another multiple assignment
var4, var5 = 8, "Some text"
print(var4)
print(var5)

8
Some text

### Variable types

In [15]:
# A few variables
radius = 10
pi = 3.14
message = "Hello World!"

In [16]:
# Integer (int) type/class
print(type(radius))

<class 'int'>

In [17]:
# Floating point number (float) type/class
print(type(pi))

<class 'float'>

In [18]:
# Text string (str) type/class
print(type(message))

<class 'str'>

### Variable IDs

In [19]:
# A few variables
radius = 10
pi = 3.14
message = "Hello World!"

In [20]:
# ID of variable
print(id(radius))

140721979856832

In [21]:
# ID of variable
print(id(pi))

2130559523984

In [22]:
# ID of variable
print(id(message))

2130560571568

### Variables conversion

In [23]:
# int to str conversion
a_number_as_int = 1024
same_number_as_string = str(a_number_as_int)
print(a_number_as_int)
print(type(a_number_as_int))
print(same_number_as_string)
print(type(same_number_as_string))

1024
<class 'int'>
1024
<class 'str'>

In [24]:
# float to str conversion
a_number_as_float = 1.5
same_number_as_string = str(a_number_as_float)
print(a_number_as_float)
print(type(a_number_as_float))
print(same_number_as_string)
print(type(same_number_as_string))

1.5
<class 'float'>
1.5
<class 'str'>

In [25]:
# str to int/float conversion
number_as_string = "1024"
same_number_as_int = int(number_as_string)
same_number_as_float = float(number_as_string)
print(number_as_string)
print(type(number_as_string))
print(same_number_as_int)
print(type(same_number_as_int))
print(same_number_as_float)
print(type(same_number_as_float))

1024
<class 'str'>
1024
<class 'int'>
1024.0
<class 'float'>

In [2]:
# str to float conversion (decimal point in string)
number_as_string = "1.5"
same_number_as_float = float(number_as_string)
print(number_as_string)
print(type(number_as_string))
print(same_number_as_float)
print(type(same_number_as_float))

1.5
<class 'str'>
1.5
<class 'float'>

In [27]:
# str to int conversion (decimal point in string)
same_number_as_int = int(number_as_string)

ValueError: invalid literal for int() with base 10: '1.5'

In [28]:
# int to float conversion
an_int_number = 12
int_to_float_number = float(an_int_number)
print(int_to_float_number)

12.0

In [29]:
# float to int conversion
a_float_number = 1.8
float_to_int_number = int(a_float_number)
print(float_to_int_number)

1